// @import '../blocks/button/button.styl';


.button
	display inline-block
	font-family Montserrat
	font-weight 500
	line-height line-height
	font-size font-size
	color white
	background #FF0000
	border-radius 4px
	transition transi-bg
	padding 16px 40px
	text-decoration none !important
	letter-spacing 1.2px
	&:hover
		background #D70000
