// @import './blocks/test/test.styl';
*
	outline 0 !important
	box-sizing border-box

.body
	margin 0
	overflow-y scroll
	font-family Roboto
	font-weight 400
	min-width 320px
	background #fff
	font-size font-size
	line-height line-height
