// @import '../blocks/phone-number/phone-number.styl';


.phone-number
	text-decoration none
	display inline-block
	&__number
		font-size: 20px;
		color: #fff;
	&__icon
			width 22px
			height 22px
			&--color-white
				fill white