// @import '../blocks/title/title.styl'

.title
	font-size font-size--h1
	line-height line-height--h1
	font-family Montserrat
	font-weight 600
	letter-spacing 2px
	margin 0
	@media (max-width screen-xs)
		line-height 40px
		font-size 32px
	&--color-white
		color white
	&--slide
		margin-top 136px
		margin-bottom 36px
		max-width 752px
		@media (max-width screen-xs)
			margin-top 120px
			margin-bottom 32px
	&--section
		color rgba(0, 0, 0, 0.8)
		text-align center
		margin-bottom 46px
		@media (max-width screen-sm)
			margin-bottom 12px
