// @import '../blocks/socials/socials.styl';


.socials
	&__ico
		vertical-align middle
	&__link
		display inline-block
		margin-left 20px
		text-decoration none !important
		transition transi-opacity
		&:hover
			opacity: 0.6
