// style.styl    
@import 'mixins.styl';              
@import 'fonts.styl'; 
@import 'variables.styl'; 

@import '../blocks/body/body.styl';
@import '../blocks/container/container.styl';
@import '../blocks/logo/logo.styl';
@import '../blocks/phone-number/phone-number.styl';
@import '../blocks/header/header.styl';