// style.styl    
@import 'mixins.styl'
@import 'fonts.styl'
@import 'variables.styl'

@import '../blocks/body/body.styl'
@import '../blocks/logo/logo.styl'
@import '../blocks/phone-number/phone-number.styl'
@import '../blocks/header/header.styl'

@import '../blocks/slider/slider.styl'
@import '../blocks/title/title.styl'
@import '../blocks/text/text.styl'
@import '../blocks/button/button.styl'

@import '../blocks/section/section.styl';
@import '../blocks/table/table.styl'

@import '../blocks/footer/footer.styl'
@import '../blocks/socials/socials.styl'