// @import '../blocks/footer/footer.styl';


.footer
	background #092433
	height 104px
	@media (max-width screen-xs)
		height 144px
	.container
		height 100%
	&__inner
		display flex
		justify-content space-between
		align-items center
		height 100%
		@media (max-width screen-xs)
			flex-direction: column;
			padding: 32px 0;
