// @import '../blocks/text/text.styl';

.text
	font-size font-size
	line-height line-height
	&--color-white
		color white
		margin-bottom: 43px;
		@media (max-width: screen-xs)
			display none
	&--slide
		max-width 580px
		@media (max-width: screen-sm)
			display none
