// @import '../blocks/slider/slider.styl';

.slider
	width 100%
	height 600px
	position relative
	@media (max-width: screen-xs)
		height: 568px;
	&__slide
		position absolute
		left 0
		top 0
		width 100%
		height 100%
		z-index 1
		opacity 0
		transition opacity 0.6s
		background-color black
		&--active
			opacity 1
			z-index 2
			transition opacity .6s
	&__content
		position absolute
		left 0
		top 0
		width 100%
		height 100%
		opacity 1
		backface-visibility: hidden
		&--data-store
			background gradient-blue
		&--servers
			background gradient-dark-blue
		&--public-cloud
			background gradient-teal
		&--server-equipment
			background gradient-purple
	&__control
		z-index 100
		position absolute
		&--left
			left 0
		&--right
			right 0

